extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat, orci eu semper tempor, sapien nisl aliquet magna, semper lobortis velit dolor vitae mauris. Sed et dictum ante. Phasellus varius hendrerit dictum. Fusce et bibendum nibh. Aliquam erat volutpat. Mauris sollicitudin laoreet nibh, vel cursus libero dapibus eget. Nulla non ipsum hendrerit, tempor magna id, maximus dui. Curabitur varius diam congue erat venenatis facilisis. Aliquam et ex massa.
                p In congue rutrum libero sit amet rhoncus. Pellentesque fringilla justo erat, sed blandit leo scelerisque eget. Nullam dapibus, risus sed interdum efficitur, risus ipsum placerat felis, id porta lorem eros fringilla odio. Ut ut felis maximus, pellentesque est et, rhoncus mi.
                p In sit amet est odio. Duis lacinia fermentum dui, in pulvinar mauris. Vivamus in maximus eros. Duis faucibus turpis vel nunc volutpat, vel finibus ante congue. Ut elit ex, auctor vel leo quis, varius pharetra augue. Nulla dapibus vel lorem vel faucibus. Donec non facilisis sapien. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Ut elit ex, auctor vel leo quis, varius pharetra augue. Nulla dapibus vel lorem vel faucibus. Donec non facilisis sapien. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Ut elit ex, auctor vel leo quis, varius pharetra augue. Nulla dapibus vel lorem vel faucibus. Donec non facilisis sapien. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p  Ut elit ex, auctor vel leo quis, varius pharetra augue. Nulla dapibus vel lorem vel faucibus. Donec non facilisis sapien. 